<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse main-header_divided" id="navbarSupportedContent">
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="navbar-brand " href="#">
          <img src="/assets/logo.svg" alt="image" class="logo">
        </li>
      </ul>
    </div>
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item login-btn" *ngIf="!isLoggedIn">
          <a class="nav-link" href="login">Login</a>
        </li>

        <li class="nav-item join-btn " *ngIf="!isLoggedIn">
          <a class="nav-link join-a" href="registration">Join Us</a>
        </li>

        <li class="nav-item login-btn" (click)="logout()" *ngIf="isLoggedIn">
          <a class="nav-link">Logout</a>
        </li>


        <p *ngIf="errorMessage" class="error">ERROR LOGING OUT</p>

      </ul>
    </div>
  </div>
</nav>
